<% if user_signed_in? %>

        <% if current_user.voted_for?(product) %>
        <%= link_to upvote_path(current_user.upvotes.where(product: product).first), remote: true, method: :delete, class: 'product-upvote product-upvoted' do %>
            <div class="product-arrow"></div>
            <div class='product-count'>
              <%= product.upvotes.size %>
            </div>
            <% end %>

          <% else %>
         <%= link_to upvotes_path(product_id: product.id), remote: true, method: :post, class: 'product-upvote' do %>
            <div class="product-arrow"></div>
            <div class='product-count'>
              <%= product.upvotes.size %>
            </div>
            <% end %>
            <% end %>

        <% else %>
        <div class='product-upvote'>
            <div class="product-arrow"></div>
            <div class='product-count'>
              <%= product.upvotes.size %>
            </div>
          </div>
        <% end %>
