<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "background.jpg" %>');">
  <div class="banner-content">
    <h1>Wagon Hunt</h1>
    <p>Find Best Tech Products</p>
    <%= link_to "All products", products_path, class: "btn btn-primary btn-lg" %>
     <%= link_to "Contact", contact_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Design", products_path(category: "design"), class: "card-category design" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Tech", products_path(category: "tech"), class: "card-category tech" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to "Education", products_path(category: "education"), class: "card-category education" %>
    </div>

  </div>
</div>
