<div class="banner" style="background-image: linear-gradient(-225deg, rgba(38, 40, 41, 0.6) 0%, rgba(0, 0, 0, 0.6) 50%), url('<%= image_path "background.jpg" %>');">
  <div class="banner-content">
    <h1>Wagon Hunt</h1>
    <p>Find Best Tech Products</p>
    <%= link_to "All products", products_path, class: "btn btn-primary btn-lg" %>
     <%= link_to "Contact", contact_path, remote: true, class: "btn btn-primary btn-lg" %>

     <h3>Email :<%= @lior.email %></h3>
     <h3>last sign in :<%= @lior.last_sign_in_at %></h3>
  </div>
</div>
