<div class="container text-center">
  <h1>Meet The team</h1>
  <%= cl_image_tag "qaatlgboqsrglh6bahzg", width: 400, crop: :fill %>

  <ul>
    <% @members.each do |member| %>
    <li> Member : <%= member%></li>
    <% end %>

  </ul>
</div>
