 <%= simple_form_for @product do |f| %>
 <%= f.input :name, placeholder: "kudoz", label: "Wich product?" %>
 <%= f.input :url, placeholder: "http://kudo.io", label: "Wich URL?" %>
 <%= f.input :tagline, placeholder: "Tinder for job search", label: "Wich tagline?" %>
 <%= f.input :category, collection: ["tech", "education", "design"], prompt:"Which category?" %>
 <%= f.input :photo, as: :attachinary %>
 <%= f.button :submit, "Ajouter", class: "btn btn-primary" %>

 <% end %>
