<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="text-center">All products</h1>
      <ul>
        <% @products.each do |product| %>

        <div class="product">

        <div class="upvote-container" id="product-<%= product.id %>">
          <%= render 'upvotes/show', product: product %>
        </div>


          <% if product.photo? %>
          <%= cl_image_tag(product.photo.path, height: 117, width: 175, crop: :fill, class: "product-image") %>
          <% else %>
          <img src="http://unsplash.it/300/200" alt="kudoz" class="product-image hidden-xs">
          <% end %>
          <div class='product-body'>
          <h3><%= product.name %> </h3>
            <p><%= product.tagline %></p>
          </div>
          <ul class="list-inline product-controls hidden-sm hidden-xs">

          <%= link_to product_path(product) do %>
            <i class="fa fa-eye"></i>
          <% end %>

          <%= link_to edit_product_path(product) do %>
            <i class="fa fa-pencil"></i>
          <% end %>

          <%= link_to product_path(product), method: :delete do %>
            <i class="fa fa-trash"></i>
          <% end %>


          </ul>
        </div>

        <%end %>
      </ul>

    </div>
  </div>
</div>


