<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @product.photo? ? cloudinary_url(@product.photo.path, width: 1280, height: 700, crop: :fill) : image_path("background.jpg") %>');">
  <div class="banner-content">
    <h1><%= @product.name %> </h1>
    <p><%= @product.tagline %>
     <span class="label label-default">
      <%= @product.category %>
    </span>
  </p>

<% if @product.user %>
  <p>
    Posted by <%= @product.user.email %>
  </p>
<% end %>

<% if @product.photo? %>

<% end %>


  <%= link_to "GET IT", @product.url, class: "btn btn-primary btn-lg" %>
</div>
</div>
